div(class='container-fluid')
    div(class='navbar-header')
        button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar-collapse", aria-expanded="false")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a(class='navbar-brand' href="#{host}/index.html")
            img(class="navbar-logo", src="./images/logo.png", alt="echarts logo")
    div(class="collapse navbar-collapse", id="navbar-collapse")
        ul(class='nav navbar-nav navbar-left')
            li#nav-index
                a(href='#{host}/index.html') 首页
            li#nav-doc.dropdown
                a(href='#', class="dropdown-toggle", data-toggle="dropdown") 文档
                    b.caret
                ul.dropdown-menu
                    li
                        a(href="#{host}/feature.html") 特性
                    li
                        a(href="#{host}/tutorial.html") 教程
                    li
                        a(href="#{host}/api.html") API
                    li
                        a(href="#{host}/option.html") 配置项手册
                    li
                        a(href="#{host}/option-gl.html") GL 配置项手册
                    li
                        a(href="#{host}/faq.html") 常见问题
                    li
                        a(href="#{host}/changelog.html") 版本记录
            li#nav-download.dropdown
                a(href='#', class="dropdown-toggle", data-toggle="dropdown") 下载
                    b.caret
                ul.dropdown-menu
                    li
                        a(href="#{host}/download.html") 下载
                    li
                        a(href="#{host}/download-theme.html") 主题下载
                    li
                        a(href="#{host}/download-map.html") 地图下载
                    li
                        a(href="#{host}/download-extension.html") 扩展下载
            li#nav-examples
                a(href='#', class="dropdown-toggle", data-toggle="dropdown") 实例
                    b.caret
                ul.dropdown-menu
                    li
                        a(href='#{host}/examples.html') 官方实例
                    li
                        a(href='http://gallery.echartsjs.com/explore.html#tags=echarts-gl') GL 实例
            li#nav-community
                a(href='#', class="dropdown-toggle", data-toggle="dropdown") 社区
                    b.caret
                ul.dropdown-menu
                    li
                        a(href="http://gallery.echartsjs.com") GALLERY
                    li
                        a(href="#{blogPath}") 博客
            li#nav-tool
                a(href='#', class="dropdown-toggle", data-toggle="dropdown") 工具
                    b.caret
                ul.dropdown-menu
                    li
                        a(href="#{host}/spreadsheet.html") 表格工具
                    li
                        a(href="http://ecomfe.github.io/echarts-map-tool/") 地图数据在线工具
                    li
                        a(href="http://echarts.baidu.com/theme-builder/") 主题构建工具
            li#nav-about
                a(href='#', class="dropdown-toggle", data-toggle="dropdown") 关于
                    b.caret
                ul.dropdown-menu
                    li
                        a(href='#{host}/about.html') 关于我们
                    li
                        a(href='https://github.com/ecomfe/echarts/blob/master/LICENSE') 版权声明

        ul(class='nav navbar-nav navbar-right')
            li#nav-github
                a(href="https://github.com/ecomfe/echarts" target="_blank")
                    img(src="#{host}/images/github.png", width="18")
            li#nav-2.0
                a(href='http://echarts.baidu.com/echarts2/') 2.0
            li#nav-homeen
                a(href='https://ecomfe.github.io/echarts-doc/public/en/index.html') EN

