extends layouts/inner

block inner_content

    #left-chart-nav
        ul

    #explore-container
        #toolbar
            #theme
                span Theme:
                a(href="./index.html" title="default" class="default")
                    span
                a(href="./index.html?theme=light" title="light" class="light")
                    span
                a(href="./index.html?theme=dark" title="dark" class="dark")
                    span

        .chart-list-panel

block extra_js

    script(type='text/javascript', src='#{cdnThirdParty.waypoints}')
    script(type='text/javascript', src='#{cdnThirdParty.jqueryLazyLoad}')

    script(type='text/javascript', src='#{cdnPayRoot}/javascripts/chart-list-data.js?_v_=#{buildVersion}')
    script(type='text/javascript', src='#{cdnPayRoot}/javascripts/chart-list-data-gl.js?_v_=#{buildVersion}')
    script(type='text/javascript', src='#{cdnPayRoot}/javascripts/chart-list.js?_v_=#{buildVersion}')
