extends layouts/basic

block content
    div(id="view-main")
        div(class="control-panel")
        div(class="chart" id="view-chart")

block extra_js
    script(type='text/javascript', src='#{host}/vendors/dat.gui.min.js')
    script(type='text/javascript', src='#{host}/vendors/echarts/echarts.min.js?_v_=#{buildVersion}')
    script(type='text/javascript', src='#{host}/vendors/echarts-stat/ecStat.min.js?_v_=#{buildVersion}')
    script(id='echarts-js', type='text/javascript', src='#{host}/vendors/echarts/map/js/china.js?_v_=#{buildVersion}')
    script(id='echarts-js', type='text/javascript', src='#{host}/vendors/echarts/map/js/world.js?_v_=#{buildVersion}')
    script(id='echarts-js', type='text/javascript', src='#{host}/vendors/echarts/extension/dataTool.js?_v_=#{buildVersion}')
    //- script(id='echarts-js', type='text/javascript', src='https://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM')
    script(id='echarts-js', type='text/javascript', src='https://api.map.baidu.com/api?v=2.0&ak=KOmVjPVUAey1G2E8zNhPiuQ6QiEmAwZu&__ec_v__=20190126')
    script(id='echarts-js', type='text/javascript', src='#{host}/vendors/echarts/extension/bmap.js?_v_=#{buildVersion}')

    script(type='text/javascript' src="#{host}/javascripts/view.js?_v_=#{buildVersion}")
