extends layouts/basic

block content
    div(id="view-main")
        div(class="control-panel")
        div(class="chart" id="view-chart")

block extra_js
    script(type='text/javascript', src='#{cdnThirdParty.datGUIMinJS}')
    script(type='text/javascript', src='#{cdnThirdParty.echartsMinJS}?_v_=#{buildVersion}')
    script(type='text/javascript', src='#{cdnThirdParty.echartsStatMinJS}')
    script(id='echarts-js', type='text/javascript', src='#{cdnThirdParty.echartsDir}/map/js/china.js?_v_=#{buildVersion}')
    script(id='echarts-js', type='text/javascript', src='#{cdnThirdParty.echartsDir}/map/js/world.js?_v_=#{buildVersion}')
    script(id='echarts-js', type='text/javascript', src='#{cdnThirdParty.echartsDir}/dist/extension/dataTool.js?_v_=#{buildVersion}')
    script(id='echarts-js', type='text/javascript', src='https://api.map.baidu.com/api?v=2.0&ak=KOmVjPVUAey1G2E8zNhPiuQ6QiEmAwZu&__ec_v__=20190126')
    script(id='echarts-js', type='text/javascript', src='#{cdnThirdParty.echartsDir}/dist/extension/bmap.js?_v_=#{buildVersion}')

    script(type='text/javascript' src="#{cdnPayRoot}/javascripts/view.js?_v_=#{buildVersion}")
